<!DOCTYPE html>
<html lang="en">

<body>
    <fieldset>
        <legend>Basic details</legend>
                <form action="/save" method="post">
                
                <input type="submit" value="Submit">
                </form>
            </fieldset>
</body>
</html>