<a href="/previous">Previous</a>
<form action="/goto" method="get">
    <input type="number" name="pageNumber" value="<%=pageNumber%>">
    <input type="submit" value="Go">
</form>
<a href="/next">Next</a>