<form action="/search" method="get">
    <input type="hidden" name="pageNumber" value="<%= pageNumber %>">
    <input type="text" name="q" value="<%= q %>">
    <input type="submit" value="Search">
</form>